@charset "UTF-8";
/* Language settings */
/* Grid settings */
/* Responsive widts */
/* Button styles */
/*
   Navigation
\*------------------------------------*/
/*
   Slider options
\*------------------------------------*/
/* Input heigts */
/* Base Colors */
/* Button Colors */
/* Main Colors */
/* Navigation colors */
/* Shadows */
/* Border colors */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: none; }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
  display: inline-block; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  background-attachment: fixed; }

body {
  color: #777;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Development
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.xdebug-var-dump {
  position: relative;
  z-index: 1000; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin: 15px 0;
  border-width: 0;
  border-top: 1px solid currentColor;
  opacity: 0.1; }

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle; }

figure {
  margin: 0; }

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */
pre {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  overflow-x: auto; }

/* Hide empty paragraphs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p:empty {
  display: none; }

/* Touch Actions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, button, input {
  -ms-touch-action: manipulation;
  /* IE10  */
  touch-action: manipulation;
  /* IE11+ */ }

/* Ins / Del
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ins {
  text-decoration: none; }

/* Iframe
–––––––––––––––––––––––––––––––––––––––––––––––––– */
embed, iframe, object {
  max-width: 100%; }

/*
    Flex Row
\*------------------------------------*/
.flex-row {
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%; }

.flex-row-col {
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.text-center .flex-row {
  -ms-flex-pack: center;
      justify-content: center; }

.header .flex-row {
  height: 100%; }

.flex-col {
  max-height: 100%; }

.flex-grow {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: auto !important; }

.flex-center {
  margin: 0 auto; }

.flex-left {
  margin-right: auto; }

.flex-right {
  margin-left: auto; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-has-center > .nav-row > .flex-col:not(.flex-center),
.flex-has-center > .flex-row > .flex-col:not(.flex-center),
.flex-has-center > .flex-col:not(.flex-center) {
  -ms-flex: 1;
      flex: 1; }

@media (max-width: 849px) {
  .medium-flex-wrap {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
    .medium-flex-wrap .flex-col {
      padding-top: 5px;
      padding-bottom: 5px;
      -ms-flex-positive: 0;
          flex-grow: 0;
      width: 100%; } }

@media (max-width: 549px) {
  .small-flex-wrap {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
    .small-flex-wrap .flex-col {
      -ms-flex-positive: 0;
          flex-grow: 0;
      width: 100%; } }

/* Utility Columns (WooCommerce) */
@media (min-width: 850px) {
  .col2-set,
  .u-columns {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex; }
    .col2-set > div + div,
    .u-columns > div + div {
      padding-left: 30px; } }

/* Conatainers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
.container,
.full-width .ubermenu-nav,
.container-width,
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.container {
  padding-left: 15px;
  padding-right: 15px; }

.container-width,
.full-width .ubermenu-nav,
.container, .row {
  max-width: 1080px; }

.row.row-collapse {
  max-width: 1050px; }

.row.row-small {
  max-width: 1065px; }

.row.row-large {
  max-width: 1110px; }

/* Boxed / Framed Widths */
body.framed,
body.framed header,
body.framed .header-wrapper,
body.boxed,
body.boxed header,
body.boxed .header-wrapper,
body.boxed .is-sticky-section {
  max-width: 1170px; }

@media screen and (min-width: 850px) {
  body.framed {
    margin: 30px auto; } }

/*
    Navigations items
\*------------------------------------*/
/* Nav Elements Reset */
.nav p {
  margin: 0;
  padding-bottom: 0; }

.nav,
.nav ul:not(.nav-dropdown) {
  margin: 0;
  padding: 0; }

.nav > li > a.button,
.nav > li > button {
  margin-bottom: 0; }

/* Nav List Style */
.nav {
  width: 100%;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center; }

.nav > li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin: 0 7px;
  transition: background-color .3s; }

/* Nav Links */
.nav > li > a {
  padding: 10px 0;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center; }

/* Inner nav links */
.html .nav > li > a {
  padding-top: 0;
  padding-bottom: 0; }

.nav-small .nav > li > a,
.nav.nav-small > li > a {
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal; }

.nav-small.nav > li.html {
  font-size: .75em; }

/* Nav text positions */
.nav-center {
  -ms-flex-pack: center;
      justify-content: center; }

.nav-fill {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.nav-left {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.nav-right {
  -ms-flex-pack: end;
      justify-content: flex-end; }

@media (max-width: 849px) {
  .medium-nav-center {
    -ms-flex-pack: center;
        justify-content: center; } }

@media (max-width: 549px) {
  .small-nav-center {
    -ms-flex-pack: center;
        justify-content: center; } }

/* Nav links */
.nav > li > a,
.nav-dropdown > li > a,
.nav-column > li > a {
  color: rgba(102, 102, 102, 0.85);
  transition: all .2s; }

.nav-dropdown > li > a,
.nav-column > li > a {
  display: block; }

/* Nav links - Hover */
.nav > li > a:hover,
.nav > li.active > a,
.nav > li.current > a,
.nav > li > a.active,
.nav > li > a.current,
.nav-dropdown li.active > a,
.nav-column li.active > a,
.nav-dropdown > li > a:hover,
.nav-column li > a:hover {
  color: rgba(17, 17, 17, 0.85); }

/* Remove last and first margin */
.nav li:first-child {
  margin-left: 0 !important; }

.nav li:last-child {
  margin-right: 0 !important; }

/* Nav Styles */
.nav-uppercase > li > a {
  letter-spacing: .02em;
  text-transform: uppercase;
  font-weight: bolder; }

.nav-thin > li > a {
  font-weight: thin !important; }

/* Nav Divided Style */
@media (min-width: 850px) {
  .nav-divided > li {
    margin: 0 .7em; }
  .nav-divided > li + li > a:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 15px;
    margin-top: -7px;
    left: -1em; }
  .nav-divided > li + li.icon-top > a:after {
    height: 50px;
    margin-top: -25px; } }

/* Nav Html items */
li.html .row,
li.html form,
li.html select,
li.html input {
  margin: 0; }

li.html > .button {
  margin-bottom: 0; }

/* hidden titles */
li.hide-title > a {
  display: none !important; }

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  line-height: 1;
  margin: 0; }

/* Logo Tagline */
.logo-tagline {
  font-style: italic;
  font-size: .9em;
  line-height: 1;
  margin: .85em 0; }

.logo a {
  text-decoration: none;
  display: block;
  color: #446084;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0; }

.logo img {
  display: block;
  width: auto; }

.header-logo-dark,
.nav-dark .header-logo,
.header-logo-sticky,
.sticky .dark .header-logo-dark,
.sticky .has-sticky-logo .header-logo {
  display: none !important; }

.nav-dark .header-logo-dark,
.stuck .header-logo-sticky {
  display: block !important; }

.stuck .header-logo-sticky + img,
.stuck .header-logo-sticky + img + img {
  display: none !important; }

/* Dark logo */
.nav-dark .logo a {
  color: #fff; }

/* Left Logo */
.logo-left .logo {
  margin-left: 0;
  margin-right: 30px; }

/* Centered Logo */
.logo-center .flex-left {
  -ms-flex-order: 1;
      order: 1;
  -ms-flex: 1 1 0px;
      flex: 1 1 0; }

.logo-center .logo {
  -ms-flex-order: 2;
      order: 2;
  text-align: center;
  margin: 0 30px; }
  .logo-center .logo img {
    margin: 0 auto; }

.logo-center .flex-right {
  -ms-flex-order: 3;
      order: 3;
  -ms-flex: 1 1 0px;
      flex: 1 1 0; }

/* Centered Logo on Small Screens */
@media screen and (max-width: 849px) {
  .header-inner .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .medium-logo-left .flex-left {
    -ms-flex-order: -1;
        order: -1;
    -ms-flex: 0;
        flex: 0; }
  .medium-logo-left .logo {
    -ms-flex: 1;
        flex: 1; }
  .medium-logo-center .flex-left {
    -ms-flex-order: 1;
        order: 1;
    -ms-flex: 1 1 0px;
        flex: 1 1 0; }
  .medium-logo-center .logo {
    -ms-flex-order: 2;
        order: 2;
    text-align: center;
    margin: 0 15px; }
    .medium-logo-center .logo img {
      margin: 0 auto; }
  .medium-logo-center .flex-right {
    -ms-flex: 1 1 0px;
        flex: 1 1 0;
    -ms-flex-order: 3;
        order: 3; } }

#main {
  overflow: hidden;
  pointer-events: none; }
  #main > * {
    opacity: 0; }

@keyframes shimmer {
  100% {
    transform: translateX(100%); } }

#main,
.nav > li > a {
  color: transparent;
  background-color: rgba(0, 0, 0, 0.05); }
  #main::after,
  .nav > li > a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
    animation: shimmer .6s linear infinite;
    content: 'a'; }

.nav > li > a {
  color: transparent !important;
  padding-top: 0;
  padding-bottom: 0; }

.header-main {
  position: relative;
  z-index: 99; }

.nav-dropdown {
  display: none; }

.banner {
  position: relative;
  background-color: #446084;
  width: 100%;
  min-height: 30px;
  overflow: hidden; }

.screen-reader-text,
.mfp-hide {
  display: none; }

/* Helper:  Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Smaller than phablets/mobiles */
@media (max-width: 549px) {
  [data-show="hide-for-small"],
  .hide-for-small {
    display: none !important; }
  .small-text-center {
    text-align: center !important;
    width: 100% !important;
    float: none !important; } }

/* Larger than mobiles */
@media (min-width: 550px) {
  [data-show="show-for-small"],
  .show-for-small {
    display: none !important; } }

/* Larger than phablets */
@media (min-width: 850px) {
  [data-show="show-for-medium"],
  .show-for-medium {
    display: none !important; } }

/* Smaller than tablets */
@media (max-width: 849px) {
  [data-show="hide-for-medium"],
  .hide-for-medium {
    display: none !important; }
  .medium-text-center .pull-left, .medium-text-center .pull-right {
    float: none; }
  .medium-text-center .ml {
    margin-left: auto; }
  .medium-text-center .mr {
    margin-right: auto; }
  .medium-text-center {
    text-align: center !important;
    width: 100% !important;
    float: none !important; } }

/* Larger than tablets */
@media (min-width: 850px) {
  [data-show="hide-for-large"],
  .hide-for-large {
    display: none !important; } }

/* pull */
.pull-right {
  float: right;
  margin-right: 0 !important; }

.pull-left {
  float: left;
  margin-left: 0 !important; }

/*# sourceMappingURL=flatsome-critical.css.map */
